* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2da41;
}

header {
  position: absolute;
  top: 60px;
  color: #373636;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 600px;
}

.accordion {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  color: #444;
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;  
}

.accordion-header span {
 max-width: 100%;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.accordion-body {
  font-size: 14px;
  opacity: 0;
  height: 0;  
  overflow: hidden; 
  transition: opacity .3s;
}

.accordion-body.active {
  height: 100%;
  opacity: 1; 
  padding: 10px 0px; 
}

.arrow {
  transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
  transform: rotate(180deg);
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px;
}